body {
  font-family: sans-serif;
  background: #0f172a;
  color: white;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
input, select {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.box {
  background: #1e293b;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}
pre {
  white-space: pre-wrap;
}
